$tristicons-font-path:        "../fonts" !default;
$tristicons-font-size-base:   14px !default;
$tristicons-line-height-base: 1 !default;

@font-face {
  font-family: "tristicons";
  src: url("#{$tristicons-font-path}/tristicons.eot");
  src: url("#{$tristicons-font-path}/tristicons.eot?#iefix") format("embedded-opentype"),
  url("#{$tristicons-font-path}/tristicons.woff") format("woff"),
  url("#{$tristicons-font-path}/tristicons.ttf") format("truetype"),
  url("#{$tristicons-font-path}/tristicons.svg#tristicons") format("svg");
}

@mixin tristicon {
  display: inline-block;
  font: normal normal normal #{$tristicons-font-size-base} tristicons;
  font-size: inherit;
  text-rendering: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tristicon {
  @include tristicon;
}

.tristicons-spin {
  animation: tristicons-spin 2s infinite linear;
}

.tristicons-pulse {
  animation: tristicons-spin 1s infinite steps(8);
}

@keyframes tristicons-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.tristicon-apple:before { content: "\f121"; }
.tristicon-bubble:before { content: "\f100"; }
.tristicon-burger:before { content: "\f127"; }
.tristicon-calendar:before { content: "\f115"; }
.tristicon-camera:before { content: "\f116"; }
.tristicon-camera-solid:before { content: "\f128"; }
.tristicon-check-circle:before { content: "\f101"; }
.tristicon-chevron-down:before { content: "\f102"; }
.tristicon-chevron-left:before { content: "\f103"; }
.tristicon-chevron-right:before { content: "\f104"; }
.tristicon-chevron-up:before { content: "\f105"; }
.tristicon-circle:before { content: "\f106"; }
.tristicon-cloud:before { content: "\f123"; }
.tristicon-coins:before { content: "\f12c"; }
.tristicon-credit-card:before { content: "\f11b"; }
.tristicon-cross:before { content: "\f107"; }
.tristicon-cross-circle:before { content: "\f108"; }
.tristicon-dollars:before { content: "\f117"; }
.tristicon-facebook:before { content: "\f109"; }
.tristicon-file:before { content: "\f124"; }
.tristicon-heart:before { content: "\f125"; }
.tristicon-info:before { content: "\f12b"; }
.tristicon-life-saver:before { content: "\f10a"; }
.tristicon-linkedin:before { content: "\f129"; }
.tristicon-loading:before { content: "\f114"; }
.tristicon-lock:before { content: "\f10b"; }
.tristicon-made-with:before { content: "\f10c"; }
.tristicon-mail:before { content: "\f10d"; }
.tristicon-mango-chutney:before { content: "\f10e"; }
.tristicon-megaphone-outline:before { content: "\f11c"; }
.tristicon-megaphone-solid:before { content: "\f11d"; }
.tristicon-notepad:before { content: "\f119"; }
.tristicon-open:before { content: "\f10f"; }
.tristicon-pen:before { content: "\f110"; }
.tristicon-phone:before { content: "\f111"; }
.tristicon-shirt:before { content: "\f11e"; }
.tristicon-shoe:before { content: "\f12d"; }
.tristicon-shopping-cart:before { content: "\f11a"; }
.tristicon-star:before { content: "\f126"; }
.tristicon-tea-cup:before { content: "\f11f"; }
.tristicon-team:before { content: "\f122"; }
.tristicon-trash:before { content: "\f112"; }
.tristicon-twitter:before { content: "\f113"; }
.tristicon-user:before { content: "\f120"; }
.tristicon-youtube:before { content: "\f12a"; }

$tristicon-apple: "\f121";
$tristicon-bubble: "\f100";
$tristicon-burger: "\f127";
$tristicon-calendar: "\f115";
$tristicon-camera: "\f116";
$tristicon-camera-solid: "\f128";
$tristicon-check-circle: "\f101";
$tristicon-chevron-down: "\f102";
$tristicon-chevron-left: "\f103";
$tristicon-chevron-right: "\f104";
$tristicon-chevron-up: "\f105";
$tristicon-circle: "\f106";
$tristicon-cloud: "\f123";
$tristicon-coins: "\f12c";
$tristicon-credit-card: "\f11b";
$tristicon-cross: "\f107";
$tristicon-cross-circle: "\f108";
$tristicon-dollars: "\f117";
$tristicon-facebook: "\f109";
$tristicon-file: "\f124";
$tristicon-heart: "\f125";
$tristicon-info: "\f12b";
$tristicon-life-saver: "\f10a";
$tristicon-linkedin: "\f129";
$tristicon-loading: "\f114";
$tristicon-lock: "\f10b";
$tristicon-made-with: "\f10c";
$tristicon-mail: "\f10d";
$tristicon-mango-chutney: "\f10e";
$tristicon-megaphone-outline: "\f11c";
$tristicon-megaphone-solid: "\f11d";
$tristicon-notepad: "\f119";
$tristicon-open: "\f10f";
$tristicon-pen: "\f110";
$tristicon-phone: "\f111";
$tristicon-shirt: "\f11e";
$tristicon-shoe: "\f12d";
$tristicon-shopping-cart: "\f11a";
$tristicon-star: "\f126";
$tristicon-tea-cup: "\f11f";
$tristicon-team: "\f122";
$tristicon-trash: "\f112";
$tristicon-twitter: "\f113";
$tristicon-user: "\f120";
$tristicon-youtube: "\f12a";
