.tristicon {
  display: inline-block;
  font: normal normal normal 1 <%= font_name %>;
  font-size: inherit;
  text-rendering: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
<%= glyphs %>
